.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
    color: brown;
    background-color: rgb(134, 135, 134);
}